<h3>How about a glas of wine?</h3>
<p>Are you sure?</p>
<p>I`m pretty much sure, why?</p>
<p>I`m ready! Are you?</p>


<p>{{ 5 + 12 }}</p>
<p>{{ 12-7 }}</p>

<p>{{ name().toUpperCase()}}</p>
<p>{{ 5+7 }}</p>

<p>{{ getName() }}</p><br><br>

<p>Test change for incident simulation</p>
<h3>Simulated Incident Input</h3>
<p>Type something here:</p>
<input type="text" [(ngModel)]="userInput" placeholder="Enter text here"/>
<button (click)="submitInput()">Submit</button>

<h4>Output (unsanitized, vulnerable!):</h4>
<p [innerHTML]="savedInput"></p>

<img [src]="imageURL()" alt="Sakura image"/>
